<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div style="text-align:center">

  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>

<div class="col-md-6" align="centre">
    <label for="sel1" class="sel1">Select list:</label>
    <select [ngModel]="usrNm" id="sel1" (change)="onSelect(regs._id)">
        <option class="lt" *ngFor="let regs of regs" [ngValue]="regs"> {{regs.usrNm}} </option>
     </select>

  </div>

<body>
    <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <tr class="table-danger">
             <th>Sr.No</th> 
              <th>Name</th>
              <th>Email</th>
              <th>DOB</th>
              <th>Phone Number</th>
              <th>Address</th>
              <th>Action</th>

    
            </tr>
            <tr *ngFor="let regs of regs ;let i=index">
                <td>{{i+1}}</td>
                <td>{{regs.usrNm}}</td>
                <td>{{regs.femail}}</td>
                <td>{{regs.dob}}</td>
                <td>{{regs.phoneNo}}</td>
                <td>{{regs.addr}}</td>
                <td>
                    <input type="button" value="Select" id="hide" (click)="onSelect(regs._id)" >
                    <button type="button" (click)="onDelete(regs._id)" class="btn btn-warning">Delete</button>
                </td>
            </tr>
    
          </table>
        </div>
      </div>


      <div>
        <ng2-smart-table [settings]="settings" [source]="regs" ></ng2-smart-table>
      </div>







            <div class="container"> 
                <div class="card bg-light enblTxt">
                    <article class="card-body mx-auto" style="max-width: 400px;">
                        <h3 class="card-title mt-3 text-center">Welcome to Registration process</h3>
                        
                        <form #frm="ngForm" (ngSubmit)="onSubmit(frm.value)">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                             </div>
                            <input type="text" name="usrNm" #usrNm="ngModel" [(ngModel)]="usNm" ngModel class="form-control" placeholder="Full name" >
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <input name="femail" #femail="ngModel"  [(ngModel)]="fe" ngModel class="form-control" placeholder="Email address" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <input name="dob" #dob="ngModel"  [(ngModel)]="db" ngModel class="form-control" placeholder="Date Of birth" type="date">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                            </div>
                            <input name="phoneNo" #phoneNo="ngModel" [(ngModel)]="pn" ngModel class="form-control" placeholder="Phone number" type="text">
                        </div> <!-- form-group// -->
                        
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Address" type="text" name="addr" #addr="ngModel"  [(ngModel)]="ad" ngModel>
                        </div> <!-- form-group// --> 
                        <input type="hidden" class="form-control" name="_id" #id="ngModel" ngModel [(ngModel)]="id1">                                   
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                        </div> <!-- form-group// -->  
                        <button  type="button" (click)="updateEmp(usrNm.value,femail.value,dob.value,phoneNo.value,addr.value, id.value)" name="update" class="btn btn-primary">Update</button>
                        <h3>{{resMsg}}</h3>                                                              
                    </form>
                    </article>
                    </div> <!-- card.// -->
                
            </div>
        </body>

        <div class="form-group">
                <h3>{{resmsg}}</h3>
        </div>


       